body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e0f7fa;
    transition: background 0.4s ease;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  
  .emoji-toggle {
    display: inline-block;
    width: 100px;
    height: 80px;
    margin: 20px auto;
    perspective: 600px;
  }
  
  .emoji {
    display: inline-block;
    font-size: 60px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #f48fb1;
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }

  #moodText{
    font-style: italic;

  }